/* Dev UI custom styles */

.container {
    font-size: 0.9375rem;
}

.container h1 {
    font-size: 1.75rem;
}

.container h2 {
    font-size: 1.25rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}

.grid button {
  margin: 0;
  font-size: 0.875rem;
}
