:root {
    color-scheme: light dark;
    --rs-color: light-dark(#333b3c, #efefec);
    --rs-bg-color: light-dark(#f9f9f9, #212121);
    --rs-change-color: rgb(255, 50, 0);
}

.react-state-dev-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: opacity 0.3s;

    &[data-active="true"] {
        opacity: 0;
        pointer-events: none;
    }
}


.react-state-dev-container {

    align-items: stretch;
    font-size: 12px;
    color: var(--rs-color);
    background-color: var(--rs-bg-color);
    border-top: solid var(--rs-color) 1px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(100%);
    padding: 0.5em;

    &[data-active="true"] {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0%);
    }

    .close-btn {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .main-panel {
        display: flex;
        flex-direction: row;
        gap: 1em;
        padding: 1em;
        resize: vertical;
        height: 350px;
        min-height: 200px;
        max-height: 60vh;
        overflow: hidden;
        justify-items: stretch;

        .state-list {
            max-width: 50%;
            min-width: 100px;
            width: 200px;
            overflow: auto;
            align-self: stretch;
            resize: horizontal;

            .state-filter {
                padding: 0.2em 0.5em;
                width: stretch;
                position: sticky;
                top: 0px;
            }

            .state-key {
                cursor: pointer;
                padding: 0.2em 0.5em;
                font-family: monospace;
                background-color: #0000;

                &:hover {
                    background-color: light-dark(#0001, #fff1);
                }

                &[data-active="true"] {
                    background-color: light-dark(#0003, #fff3);
                }

                transition: border-color 1s;
                border-color: #0000;
                border-bottom-color: #8884;

                border-width: 2px;
                border-style: solid;

                &.state-key-updated {
                    transition: border-color 0.00s;
                    border-color: var(--rs-change-color);
                    background-color: color-mix(in srgb, var(--rs-change-color) 20%, transparent);
                }

                .state-key-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &[data-active="true"] .state-key-name {
                    white-space: wrap;
                }

                .state-key-meta {
                    font-size: 10px;
                    opacity: 0.6;
                }
            }

        }

        .state-view {
            flex: 1;
            overflow: auto;
            border-inline-start: solid 3px #8888;
            padding-inline-start: 1em;
        }
    }

    mark {
        background: orange;
    }
}

