:root {
    color-scheme: light dark;
    --rs-color: light-dark(#333b3c, #efefec);
    --rs-bg-color: light-dark(#f9f9f9, #212121);
    --rs-change-color: rgb(255, 50, 0);
}

.react-state-dev-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: opacity 0.3s;
    

}

.react-state-dev-container {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    height: 100%;
    pointer-events: none;

    .close-btn {
        position: absolute;
        bottom: calc(100% + 5px);
        right: 0px;
    }
   
}

.react-state-dev-panel {
    pointer-events: all;


    .main-panel {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        padding: 0.5em;
        align-content: stretch;
        height: 100%;

        .state-list {
            max-width: 50%;
            min-width: 100px;
            width: 200px;
            overflow: auto;
            align-self: stretch;

            .state-filter {
                padding: 0.2em 0.5em;
                width: stretch;
                position: sticky;
                top: 0px;
            }

            .state-key {
                cursor: pointer;
                padding: 0.2em 0.5em;
                font-family: monospace;
                background-color: #0000;

                &:hover {
                    background-color: light-dark(#0001, #fff1);
                }

                &[data-active="true"] {
                    background-color: light-dark(#0003, #fff3);
                }

                transition: border-color 1s;
                border-color: #0000;
                border-bottom-color: #8884;

                border-width: 2px;
                border-style: solid;

                &.state-key-updated {
                    transition: border-color 0.00s;
                    border-color: var(--rs-change-color);
                    background-color: color-mix(in srgb, var(--rs-change-color) 20%, transparent);
                }

                .state-key-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &[data-active="true"] .state-key-name {
                    white-space: wrap;
                }

                .state-key-meta {
                    font-size: 10px;
                    opacity: 0.6;
                }
            }

        }

        .state-view {
            flex: 1;
            overflow: auto;
        }
    }

    mark {
        background: orange;
        padding-inline: 0;
    }
}

.react-state-dev-container {
    .w-split-bar {
        pointer-events: all;
    }

}